$white-pricing-bac: #fff;
$app-background: #fafbff;
$text: #858fad;
$empty-slider-bac: #eaeefb;
$toggle-bac: #cdd7ee;
$light-blue: #a5f3eb;
$dark-blue: #10d5c2;
$navy-blue: #293356;
$navy-btn-text: #bdccff;
$orange-btn-bac: #feece7;
$orange-text: #ff8c66;
